{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
{% endblock %}
{% block content %}

<label for="category-select">Select a category:</label>
<select id="category-select">
    {% for category in categories %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
</select>


<label for="category-select">Select a year</label>
<select id="category-select">
    <option value="2021">2020</option>
    <option value="2021">2021</option>
    <option value="2021">2022</option>
    <option value="2021">2023</option>
</select>

<table class="table">
    <thead>
        <th>Account</th>
        <th>January</th>
        <th>February</th>
        <th>March</th>
        <th>April</th>
        <th>May</th>
        <th>June</th>
        <th>July</th>
        <th>August</th>
        <th>September</th>
        <th>October</th>
        <th>November</th>
        <th>December</th>
    </thead>
    <tbody>
        <tr>
            {% for value in balance %}
            <td>{{ value.balance }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}