{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
{% endblock %}
{% block content %}

<div class="container">








{% for year in years | reverse %}

    <h2>Data for {{ year }}</h2>
    <table class="table">
        <thead>
            <th>Account</th>
            <th>Category</th>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>August</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.category.name }}</td>
                {% for month in range(1, 13) %}
                    <td>
                        {% set balance_entry = balances[year][month] | selectattr('account_id', 'eq', account.id) | first %}
                        {% if balance_entry %}
                            CHF {{ balance_entry.balance }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                {% for month in range(1, 13) %}
                    <td>
                        {% set month_balances = balances[year][month] %}
                        {% if month_balances %}
                            {% set total_balance = month_balances | map(attribute='balance') | sum %}
                            CHF {{ total_balance }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>


        </tfoot>
    </table>
{% endfor %}


</div>

{% endblock %}
