{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
{% endblock %}
{% block content %}

<div class="container">

<label for="category-select">Select a category:</label>
<select id="category-select">
    {% for category in categories %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
</select>


<label for="month-select">Select a month:</label>
<select id="month-select" name="month">
    {% for month in months %}
    <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}</option>
    {% endfor %}
</select>

{% for key, balances_year in balances.items() %}
    {% set year, month = key.split('-') %}
    <h2>Data for {{ month }}/{{ year }}</h2>
    <table class="table">
        <thead>
            <th>Account</th>
            <th>Balance</th>
        </thead>
        <tbody>
            {% for balance in balances_year %}
            <tr>
                <td>{{ balance.account.name }}</td>
                <td>{{ balance.balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}




{% for year in years %}
    <h2>Data for {{ year }}</h2>
    <table class="table">
        <thead>
            <th>Account</th>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>August</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
        </thead>
        <tbody>
            {% for month in months[month] %}
            <tr>
                <td>{{ months }}</td>
                <td>{{ months }}</td>
                <!--<td>{{ value.february }}</td>
                <td>{{ value.march }}</td>
                <td>{{ value.april }}</td>
                <td>{{ value.may }}</td>
                <td>{{ value.june }}</td>
                <td>{{ value.july }}</td>
                <td>{{ value.august }}</td>
                <td>{{ value.september }}</td>
                <td>{{ value.october }}</td>
                <td>{{ value.november }}</td>
                <td>{{ value.december }}</td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

</div>

{% endblock %}
