{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}

<div class="container">

    <table class="table">
        <thead>
            <th>Account</th>
            <th>Category</th>
            <th>Month</th>
            <th>Year</th>
            <th>Balance</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for entry in entries | reverse %}
            <tr>
                <form method="POST" action="/balance/{{ entry.id }}/update">
                    <td class="col-md-4">{{ entry.account.name }}</td>
                    <td class="col-md-3">{{ entry.account.category.name }}</td>
                    <td class="col-md-1">
                        <input type="number" min="1" max="12" name="month" value="{{ entry.month }}">
                    </td>
                    <td class="col-md-1">
                        <input type="number" min="1900" max="2100" name="year" value="{{ entry.year }}">
                    </td>
                    <td class="col-md-1">
                        <input type="text" name="balance" value="{{ entry.balance }}">
                    </td>
                    <td class="col-md-1">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </td>
                </form>
                <td class="col-md-1"><button type="submit" class="btn btn-danger" href="/balance/{{ entry.id }}/delete">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}
