{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <h1>Hi {{ current_user.username }}</h1>
    <p>«Net Worth Tracker» ermöglicht die Verfolgung des Nettovermögens.</p>
    <p>Das Nettovermögen ist die Summe aller Vermögenswerte (Assets) abzüglich der Verbindlichkeiten (Liabilities). Es hilft, die eigenen Finanzen besser zu verstehen und deren Entwicklung im Laufe der Zeit zu verfolgen.</p>
    <p>Unter "Data" können die Daten angesehen, unter "Add" Daten hinzugefügt und unter "Edit" die Daten bearbeitet und gelöscht werden.</p>

    <p>"Net Worth Tracker" enables the tracking of assets.</p>
    <p>Net worth is the sum of all assets minus liabilities. It helps to better understand one's finances and track their development over time.</p>
    <p>Under "Data" the data can be viewed, under "Add" data can be added and under "Edit" the data can be edited and deleted.</p>
</div>
    
{% endblock %}